<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mamifero-heading" jhiTranslate="mamiferos2020App.mamifero.home.createOrEditLabel">Create or edit a Mamifero</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mamiferos2020App.mamifero.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mamiferos2020App.mamifero.tipo" for="field_tipo">Tipo</label>
                    <select class="form-control" name="tipo" formControlName="tipo" id="field_tipo">
                        <option value="GATO">{{ 'mamiferos2020App.TipoMamifero.GATO' | translate }}</option>
                        <option value="MACACO">{{ 'mamiferos2020App.TipoMamifero.MACACO' | translate }}</option>
                        <option value="CAHORRO">{{ 'mamiferos2020App.TipoMamifero.CAHORRO' | translate }}</option>
                        <option value="RATO">{{ 'mamiferos2020App.TipoMamifero.RATO' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mamiferos2020App.mamifero.apelido" for="field_apelido">Apelido</label>
                    <input type="text" class="form-control" name="apelido" id="field_apelido"
                           formControlName="apelido"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mamiferos2020App.mamifero.numero" for="field_numero">Numero</label>
                    <input type="number" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mamiferos2020App.mamifero.altura" for="field_altura">Altura</label>
                    <input type="number" class="form-control" name="altura" id="field_altura"
                           formControlName="altura"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mamiferos2020App.mamifero.peso" for="field_peso">Peso</label>
                    <input type="number" class="form-control" name="peso" id="field_peso"
                           formControlName="peso"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mamiferos2020App.mamifero.comprimento" for="field_comprimento">Comprimento</label>
                    <input type="number" class="form-control" name="comprimento" id="field_comprimento"
                           formControlName="comprimento"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mamiferos2020App.mamifero.progenitora" for="field_progenitora">Progenitora</label>
                    <select class="form-control" id="field_progenitora" name="progenitora" formControlName="progenitora">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mamiferoOption.id === editForm.get('progenitora')!.value?.id ? editForm.get('progenitora')!.value : mamiferoOption" *ngFor="let mamiferoOption of mamiferos; trackBy: trackById">{{ mamiferoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mamiferos2020App.mamifero.loja" for="field_loja">Loja</label>
                    <select class="form-control" id="field_loja" name="loja" formControlName="loja">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="lojaOption.id === editForm.get('loja')!.value?.id ? editForm.get('loja')!.value : lojaOption" *ngFor="let lojaOption of lojas; trackBy: trackById">{{ lojaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
