<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mamifero">
            <h2><span jhiTranslate="mamiferos2020App.mamifero.detail.title">Mamifero</span> {{ mamifero.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mamiferos2020App.mamifero.nome">Nome</span></dt>
                <dd>
                    <span>{{ mamifero.nome }}</span>
                </dd>
                <dt><span jhiTranslate="mamiferos2020App.mamifero.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'mamiferos2020App.TipoMamifero.' + mamifero.tipo }}">{{ mamifero.tipo }}</span>
                </dd>
                <dt><span jhiTranslate="mamiferos2020App.mamifero.apelido">Apelido</span></dt>
                <dd>
                    <span>{{ mamifero.apelido }}</span>
                </dd>
                <dt><span jhiTranslate="mamiferos2020App.mamifero.numero">Numero</span></dt>
                <dd>
                    <span>{{ mamifero.numero }}</span>
                </dd>
                <dt><span jhiTranslate="mamiferos2020App.mamifero.altura">Altura</span></dt>
                <dd>
                    <span>{{ mamifero.altura }}</span>
                </dd>
                <dt><span jhiTranslate="mamiferos2020App.mamifero.peso">Peso</span></dt>
                <dd>
                    <span>{{ mamifero.peso }}</span>
                </dd>
                <dt><span jhiTranslate="mamiferos2020App.mamifero.comprimento">Comprimento</span></dt>
                <dd>
                    <span>{{ mamifero.comprimento }}</span>
                </dd>
                <dt><span jhiTranslate="mamiferos2020App.mamifero.progenitora">Progenitora</span></dt>
                <dd>
                    <div *ngIf="mamifero.progenitora">
                        <a [routerLink]="['/mamifero', mamifero.progenitora?.id, 'view']">{{ mamifero.progenitora?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mamiferos2020App.mamifero.loja">Loja</span></dt>
                <dd>
                    <div *ngIf="mamifero.loja">
                        <a [routerLink]="['/loja', mamifero.loja?.id, 'view']">{{ mamifero.loja?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mamifero', mamifero.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
